html,body {
    margin:0;
    padding:0;
}

body{
    width:100%
}

.navi {
    display:flex;
    justify-content: space-around;
    background-color: aliceblue;
}
a {
    text-decoration: none;
}

.nav-btn {
    padding:20px;
    text-align: center;
}

#since {
    font-style: italic;
}

.history{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:10px;
}

@media (min-width:320px) and (max-width:700px) {
    .portfolio{
        /* display:grid;
        grid-template-columns: 1fr 1fr 1fr; */
        display:flex;
        margin: 10px;
    }
}



.contact_me{
    font-style: italic;

}